<section role="region">
  <header>
    <menu type="toolbar">
      <button ng-tap="$navigate.go('/add', 'modal')"><span class="icon icon-add">add</span></button>
    </menu>
    <h1>My items</h1>
  </header>
</section>
<section data-type="list" class="view">
  <ul>
    <li ng-repeat="item in items">
      <aside class="pack-end">
        <img alt="{{item.title}}" src="{{item.image}}">
      </aside>
      <a ng-tap="$navigate
                  .go('/detail/', 'slide')
                  .search({
                    path: item.link
                  })">

        <p>{{item.title}}</p>
      </a>

    </li>
  </ul>
</section>