<section role="region">
  <header>
    <h1>CNN NewsPulse</h1>
  </header>
  <progress value="0" max="100" class="pack-activity" ng-show="loading == true"></progress>
</section>
<section data-type="list" class="view">
  <ul>
    <li ng-repeat="item in items">
      <aside class="pack-end" ng-hide="!item.image">
        <img alt="{{item.title}}" src="{{item.image}}">
      </aside>
      <a ng-tap="$navigate.go('/detail/', 'slide').search({ path: item.link })">
        <p>{{item.title}}</p>
      </a>
    </li>
  </ul>
</section>
